<tr>
  <td align="center" valign="top" bgcolor="#ffffff">
    <table align="center" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="Drop1" align="center" valign="top" style="padding:0px 30px;">
          <table align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="260" align="center" valign="top">
                <table align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="top" style="font:15px Arial, Helvetica, sans-serif; color:#7fc646; text-decoration:none; text-align:center;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201509_edm1a_welcome1st_03.gif" width="64" height="63" alt="Owner Manual" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td width="260" align="center" valign="top" style="font:25px Arial, Helvetica, sans-serif; line-height:36px; mso-line-height-rule:exactly; color:#7fc646; mso-line-height-rule: exactly; padding:16px 0px;">Owner Manual</td>
            </tr>
            <tr>
              <td width="260" align="center" valign="top" style="font:14px Arial, Helvetica, sans-serif; color:#91a4b1; line-height:18px; mso-line-height-rule: exactly; padding-top:19px; padding-bottom:16px;">Download your Owners Manual
                <br/> on your device for access anytime anywhere. </td>
            </tr>
            <tr>
              <td align="center" valign="top" style="padding:0px 0px 30px 0px;">
                <table align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="middle" style="font:14px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;"><a href="http://www.india.ford.com/owner?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_download_btn" name="download_btn" title="Download now &rsaquo;" target="_blank" style="font:14px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;"> Download now&#160;&#160;</a>
                    </td>
                    <td align="center" valign="middle" style="font:14px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;">
                      <a href="http://www.india.ford.com/owner?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_download_btn" name="download_btn" title="Download now &rsaquo;" target="_blank" style="font:14px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;"> <img style="display:inline;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201509_edm1a_welcome1st_10.jpg" width="24" height="24" alt="Download now &rsaquo;" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td class="Drop1" width="1" align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="266" class="hi8_1" bgcolor="#e6e6e6"><img style="display:block;" border="0" class="hi8_1" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="266" alt="" />
              </td>
            </tr>
          </table>
        </td>
        <td class="Drop1" align="center" valign="top" style="padding:0px 20px;">
          <table align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="280" align="center" valign="top" class="Pad_T30">
                <table align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="top" style="font:15px Arial, Helvetica, sans-serif; color:#41c3dd; text-decoration:none; text-align:center;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201509_edm1a_welcome1st_08.gif" width="64" height="63" alt="GET IN SYNC&trade;" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td width="260" align="center" valign="top" style="font:25px Arial, Helvetica, sans-serif; color:#41c3dd; mso-line-height-rule: exactly; padding:16px 0px;">Get In SYNC<sup>&trade;</sup>
              </td>
            </tr>
            <tr>
              <td width="280" align="center" valign="top" style="font:14px Arial, Helvetica, sans-serif; color:#91a4b1; line-height:18px; mso-line-height-rule: exactly; padding-top:20px; padding-bottom:14px;">Your Figo Aspire comes with
                <br /> Ford SYNC&trade; for hands-free control while you drive.</td>
            </tr>
            <tr>
              <td align="center" valign="top" style="padding:0px 0px 30px 0px;">
                <table align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="middle" style="font:14px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;"><a href="http://www.india.ford.com/sync?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_Learn_about" name="Learn_about" title="Learn about SYNC&trade; &rsaquo;" target="_blank" style="font:14px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;"> Learn about SYNC<sup>TM</sup>&#160;&#160;</a>
                    </td>
                    <td align="center" valign="middle">
                      <a href="http://www.india.ford.com/sync?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_Learn_about" name="Learn_about" title="Learn about SYNC&trade; &rsaquo;" target="_blank" style="font:12px Arial, Helvetica, sans-serif; color:#2996CE; text-decoration:none; text-align:center;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201509_edm1a_welcome1st_10.jpg" width="24" height="24" alt="Learn about SYNC&trade; &rsaquo;" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>