<tr>
  <td bgcolor="#ffffff" class="Pad_LR20" align="center" valign="top" style="font:14px Arial, Helvetica, sans-serif; color:#333333; line-height:22px; mso-line-height-rule: exactly; padding:20px 10px;">Enjoy a free inspection & a car wash - on us - within the first 3 months or
    <br class="nomobile"> 2500 kilometers, whichever comes earlier. Keep your vehicle in top shape with us.
    <br>
    <br> Contact
    <%${user.CustomAttribute[ 'Dealer_Name']}%>
      on
      <a href="tel:<%${user.CustomAttribute['Dealer_Contact']}%>" target="_blank" style="color:#333333; text-decoration:none;">
        <%${user.CustomAttribute[ 'Dealer_Contact']}%>
      </a> for more
      <br class="nomobile"> information.
      <br class="nomobile" />
  </td>
</tr>