<tr>
  <td align="left" valign="top" bgcolor="#f2f2f2" style="padding:10px 10px;">
    <table bgcolor="#f2f2f2" align="left" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="10" alt="" />
        </td>
      </tr>
      <tr>
        <td>
          <table bgcolor="#f2f2f2" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="Drop1" align="center" valign="top" style="padding:0px 5px 0px 0px;">
                <table align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="135" align="left" valign="middle" bgcolor="#f2f2f2" style="font-size:0%;">
                      <a href="http://www.india.ford.com/locate-dealer?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_186_341" name="186_341" title="186*341" target="_blank" style="font-size:10px; color:#000001; text-decoration:none; text-align:center;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_image13.jpg" width="139" height="57" alt="186*341" />
                      </a>
                    </td>
                    <td width="10" align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="10" height="1" alt="" />
                    </td>
                    <td width="24" align="left" valign="middle" bgcolor="#f2f2f2" style="font-size:0%;">
                      <a href="http://www.india.ford.com/ford-service/solutions/happy-pocket?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_Happy_Pocket" name="happy_pocket" title="HAPPY POCKET" target="_blank" style="font-size:10px; color:#000001; text-decoration:none; text-align:center;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_image14.jpg" width="153" height="57" alt="HAPPY POCKET" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="Drop1" align="center" valign="top" style="padding:0px 0px 0px 5px;">
                <table bgcolor="#f2f2f2" align="center" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="135" align="left" valign="middle" bgcolor="#f2f2f2" style="font-size:0%;">
                      <a href="tel:1800-425-2500" name="Toll_Free_Number" title="1800-425-2500" target="_blank" style="font-size:10px; color:#000001; text-decoration:none; text-align:center;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201509_Welcome1st_image1.gif" width="127" height="53" alt="1800-425-2500" />
                      </a>
                    </td>
                    <td width="10" align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="1" alt="" />
                    </td>
                    <td width="24" align="left" valign="middle" bgcolor="#f2f2f2" style="font-size:0%;">
                      <a href="tel:1800-209-7400" name="RSA_number" title="1800-209-7400" target="_blank" style="font-size:10px; color:#000001; text-decoration:none; text-align:center;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_imagea2.jpg" width="149" height="57" alt="1800-209-7400" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="10" alt="" />
        </td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#91a4b1; line-height:15px; mso-line-height-rule: exactly;">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top">
                      <table align="left" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="84" align="left" valign="middle" style="color:#91a4b1;font-family:Arial, Verdana, Sans-serif;font-size:12px;">Follow us on:</td>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="24" align="left" valign="middle" style="font-size:0%;">
                                  <a href="https://twitter.com/fordindia" name="Twitter_Btm" title="Twitter" target="_blank" style="font-size:10px; color:#319AD6; text-decoration:none; text-align:center; font-weight:bold;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/Twitter.jpg" width="29" height="29" alt="T" /> </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width="10" align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="1" alt="" />
                          </td>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="24" align="left" valign="middle" style="font-size:0%;">
                                  <a href="https://www.facebook.com/FordIndia" name="Facebook_Btm" title="Facebook" target="_blank" style="font-size:10px; color:#319AD6; text-decoration:none; text-align:center; font-weight:bold;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/Facebook.jpg" width="29" height="29" alt="F" /> </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width="10" align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="1" alt="" />
                          </td>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="24" align="left" valign="middle" style="font-size:0%;">
                                  <a href="https://instagram.com/fordindia" name="Instagram_Btm" title="Instagram" target="_blank" style="font-size:10px; color:#319AD6; text-decoration:none; text-align:center; font-weight:bold;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/Instagram.jpg" width="29" height="29" alt="I" /> </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width="10" align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="1" alt="" />
                          </td>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="24" align="left" valign="middle" style="font-size:0%;">
                                  <a href="https://www.youtube.com/user/FordIndiaVideos" name="Youtube_Btm" title="Youtube" target="_blank" style="font-size:10px; color:#319AD6; text-decoration:none; text-align:center; font-weight:bold;"> <img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/Youtube.jpg" width="29" height="29" alt="Y" /> </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" valign="middle" style="font-size:0%;"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="15" alt="" />
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#f2f2f2" align="left" valign="top" class="Drop" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#91a4b1; line-height:15px; mso-line-height-rule: exactly;"> 1. Second year factory warranty is applicable for all Ford vehicles manufactured after <span class="appleLinks">1st January 2008</span>.
                      <br/>
                      <br/>
                    </td>
                  </tr>
                </table>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#91a4b1; line-height:15px; mso-line-height-rule: exactly;">You may <a href="<%unsubscribe_link_text%>" name="Unsubscribe" target="_blank" title="unsubscribe" style="color:#91a4b1;"><span style="color:#91a4b1;">unsubscribe</span></a> from this mailing list at any time.
                      <br /> To ensure that you continue receiving our emails, please add <a href="mailto:fordindia@crm.fordind.com" title="fordindia@crm.fordind.com" target="_blank" name="Fordind_Email" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#91a4b1; line-height:15px; mso-line-height-rule: exactly;">fordindia@crm.fordind.com</a>
                      <br class="nomobile"> to your address book or safe list. Ford India Pvt. Ltd. 3rd Floor, Building No.10, Tower C. DLF Phase II, Gurgaon-122002
                      <br/>
                      <br/> Copyright 2015 Ford India Pvt Ltd. All Rights Reserved. <a href="http://www.india.ford.com/privacy-disclaimer?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_Privacy_Disclaimer" name="Privacy_Disclaimer" target="_blank" title="Privacy & Disclaimer" style="color:#91a4b1;"><span style="color:#91a4b1; text-decoration:underline">Privacy & Disclaimer</span></a>
                      <br/> If you're having difficulty viewing this email, <a href="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Online/IN_Welcome_1st_buyer_EW_offer_web_Aspire.html" name="Web_Version" target="_blank" title="go to the web version" style="color:#91a4b1;"><span style="color:#91a4b1; text-decoration:underline">go to the web version</span></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>