<tr>
  <td align="left" valign="top" bgcolor="#ffffff"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="50" alt="" />
  </td>
</tr>