<tr>
  <td align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#91a4b1">
      <tr>
        <td align="center" valign="top" style="font:25px Arial, Helvetica, sans-serif; color:#ffffff; line-height:29px; mso-line-height-rule: exactly; padding:20px 10px 0px 10px;"><strong>Hello
        <%${user.CustomAttribute['FullName']}%>
        </strong>
          <br /> Hope you are enjoying the ride.</td>
      </tr>
      <tr>
        <td class="Pad_LR20" align="center" valign="top" style="font:14px Arial, Helvetica, sans-serif; color:#333333; line-height:22px; mso-line-height-rule: exactly; padding:20px 50px;"> There&#39;s nothing quite like a new car. And we want to thank you for
          <br class="nomobile"> making yours a Ford.
          <br />
          <br /> As part of the Ford family, you'll be hearing from us from time to
          <br class="nomobile"> time, but only with information we think you'd find helpful.</td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#91a4b1" style="font:25px Arial, Helvetica, sans-serif; color:#ffffff; text-align:center;"><img style="display:block;" border="0" class="full-width" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/Aspire_Desktop.jpg" width="640" height="360" alt="Ford | Aspire" title="Ford | Aspire" />
        </td>
      </tr>
    </table>
  </td>
</tr>