<tr>
  <td width="640">
    <table align="center" class="container-full-width" width="640" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" bgcolor="#FFFFFF"><img style="display:block;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201508_Welcome1st_Spacer.gif" width="1" height="20" alt="" />
        </td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="153" align="left" valign="top" style="font:bold 24px Arial, Helvetica, sans-serif; text-align:center; color:#FFFFFF;">
                <a href="http://www.india.ford.com/?emailid=EDM_<%${user.CustomAttribute['DMCDATE']}%>_APMKTC4L_<%${user.CustomAttribute['DMCCAMPAIGN']}%>_Ford_Logo" name="Ford_Logo" title="Ford | Go Further" target="_blank" style="font:bold 18px Arial, Helvetica, sans-serif; color:#000001; text-decoration:none; text-align:center;"><img class="flu_Img" style="display:block; background-color:#ffffff;" border="0" src="https://s3-ap-southeast-1.amazonaws.com/edm2015india/Images/201509_edm1a_welcome_header.gif" width="640" height="80" alt="Ford | Go Further" />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>